In [1]:
import json
import datetime
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [8]:
PATH = "../data/computer_vision/"
args = {
    "train_csv": PATH+"train_df.csv",
    "test_csv": PATH+"test_df.csv",
    "submission_csv": PATH+"sample_submission.csv"
}

In [9]:
train = pd.read_csv(args["train_csv"])

In [10]:
train

      index  file_name       class state            label
0         0  10000.png  transistor  good  transistor-good
1         1  10001.png     capsule  good     capsule-good
2         2  10002.png  transistor  good  transistor-good
3         3  10003.png        wood  good        wood-good
4         4  10004.png      bottle  good      bottle-good
...     ...        ...         ...   ...              ...
4272   4272  14272.png  transistor  good  transistor-good
4273   4273  14273.png  transistor  good  transistor-good
4274   4274  14274.png        grid  good        grid-good
4275   4275  14275.png      zipper  good      zipper-good
4276   4276  14276.png       screw  good       screw-good

[4277 rows x 5 columns]

In [11]:
train["state"].unique()

array(['good', 'bent_wire', 'hole', 'pill_type', 'scratch', 'thread_side',
       'fabric_border', 'crack', 'manipulated_front', 'contamination',
       'split_teeth', 'combined', 'color', 'thread_top', 'missing_cable',
       'squeeze', 'rough', 'poke', 'flip', 'metal_contamination',
       'bent_lead', 'fabric_interior', 'fold', 'glue_strip',
       'scratch_neck', 'scratch_head', 'cut', 'broken_large',
       'broken_small', 'cut_outer_insulation', 'squeezed_teeth',
       'defective', 'cut_inner_insulation', 'missing_wire', 'thread',
       'broken', 'faulty_imprint', 'glue', 'damaged_case', 'gray_stroke',
       'bent', 'print', 'broken_teeth', 'oil', 'misplaced', 'cable_swap',
       'poke_insulation', 'cut_lead', 'liquid'], dtype=object)

In [13]:
test = pd.read_csv(args["test_csv"])
test

      index  file_name
0         0  20000.png
1         1  20001.png
2         2  20002.png
3         3  20003.png
4         4  20004.png
...     ...        ...
2149   2149  22149.png
2150   2150  22150.png
2151   2151  22151.png
2152   2152  22152.png
2153   2153  22153.png

[2154 rows x 2 columns]

In [15]:
submission = pd.read_csv(args["submission_csv"])
submission

      index      label
0         0  tile-good
1         1  tile-good
2         2  tile-good
3         3  tile-good
4         4  tile-good
...     ...        ...
2149   2149  tile-good
2150   2150  tile-good
2151   2151  tile-good
2152   2152  tile-good
2153   2153  tile-good

[2154 rows x 2 columns]